.header {
  background-color: #eeeeee;
  height: 550px;
}
.top {
  margin-top: 10px;
}
.header-body {
  height: 65px;
  background-color: white;
  width: 105%;
  margin-left: -31px;
  box-shadow: 0 6px 4px 0 lightgrey;
}
.font-icon {
  font-size: 20px;
}
.table-row {
  height: 400px;
  border-top: 3px solid lightgreen;
}




